/* styles.css */

body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    height: 8.5%;
    background-color: #800000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    width: 100px;
    height: 100px;
}

header span {
    color: white;
    font-size: 24px;
    margin-right: 70px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.spacer {
    width: 100%;
    height: 3%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer a {
    margin: 100px;
    text-decoration: none;
    color: #000;
}

.content {
    display: flex;
    height: 80%;
    position: relative;
}

.first-part {
    width: 20%;
    /*float: left;*/
    background-color: #ffebcd;
}

.search-box {
    padding: 5px;
    text-align: center;
}

.search-box input {
    width: 90%;
    padding: 5px;
}

.search-box button {
    background-color: #ff0000;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.divider {
    width: 1px;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 20%;
    top: 0;
}

/*.second-part {
    width: 80%;
    background-color: #ffebcd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}*/

.second-part {
    width: 80%;
    overflow-y: auto; /* Прокручування по вертикалі */
    background-color: #ffebcd;
}

.wrapper-second-part {
    height: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.card {
    width: calc(25% - 10px); /* Розраховуємо ширину для 4 карточок в ряду з відступами */
    height: 45%; /* Встановлюємо фіксовану висоту для карточки */
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5%;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

footer{
    width: 100%;
    height: 8.5%;
    background: #800000;
}


