<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <footer>
        <div class="wrapper-footer-items">
            <div class="email-info">asdasd@gmail.com</div>
            <div class="phone-number-info">+380667898541</div>
            <div class="instagram-info">
                <a href="https://www.instagram.com/our_instagram_link/">
                     <img src="{% static 'images/instagram-icon.png' %}" alt="Instagram" class="instagram-icon">
                </a>
            </div>
            <div class="telegram-info">
                <a href="https://www.telegram.com/our_telegram_link/">
                     <img src="{% static 'images/telegram-icon1.png' %}" alt="Telegram" class="telegram-icon">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>