<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex; align-items: center;">
                <img src="{% static 'images/emblema.png' %}" alt="Логотип">
                <a href="{% url 'mainpage' %}" style="margin-left: 10px; text-decoration: underline;"><h1>Шабля</h1></a>
            </div>
            <div>
                <a href="{% url 'mainpage' %}" style="color: white; font-size: 24px; margin-right: 70px; margin-left: 250px;">Головна</a>
                <a href="{% url 'search' %}" style="color: white; font-size: 24px; margin-right: 70px;">Пошук</a>
                <a href="{% url 'aboutus' %}" style="color: white; font-size: 24px; margin-right: 70px;">Про нас</a>
            </div>
        </nav>
        <div>
            <a href="{% url 'cabinet' %}" style="text-decoration: none;">Особистий кабінет користувача</a>
        </div>
    </header>
</body>
</html>
