<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shablya</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="container">
        <header>
            <div style="display: flex; align-items: center;">
                <img src="{% static 'images/emblema.png' %}" alt="Логотип" style="width: 60px; height: 60px;">
                <span style="margin-left: 10px; text-decoration: underline;"><h1>Шабля</h1></span>
            </div>
            <div>
                <span>Головна</span>
                <span>Пошук</span>
                <span>Про нас</span>
            </div>
            <div>
                <a href="{% url 'cabinet' %}" style="text-decoration: none;">Особистий кабінет користувача</a>
            </div>
        </header>
        <div class="spacer">
            <a href="#">#українське</a>
            <a href="#">#війна2022</a>
            <a href="#">#авіація</a>
            <a href="#">#танки</a>
            <a href="#">#штурмовігвинтівки</a>
        </div>
        <div class="content">
            <div class="first-part">
                <div class="search-box">
                    <input type="text" placeholder="Пошук...">
                    <button>Пошук</button>
                 </div>
            </div>
            <div class="divider"></div>
            <div class="second-part">
                <div class="wrapper-second-part">
                    <div class="card">
                        <div class="top-card"><h2>Т-84 БМ "ОПЛОТ"</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/oplot_ukr.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"></div>
                        <div class="middle-card"></div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <!-- Футер -->
        </footer>
    </div>
</body>
</html>
