<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shablya</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div style="display: flex; align-items: center;">
                <img src="{% static 'images/emblema.png' %}" alt="Логотип" style="width: 60px; height: 60px;">
                <span style="margin-left: 10px; margin-top: 25px; text-decoration: underline;"><h1>Шабля</h1>></span>
            </div>
            <div>
                <span>Головна</span>
                <span>Пошук</span>
                <span>Про нас</span>
            </div>
            <div>
                <a href="{% url 'cabinet' %}" style="text-decoration: none;">Особистий кабінет користувача</a>
            </div>
        </header>
        <div class="spacer">
            <a href="#">#українське</a>
            <a href="#">#війна2022</a>
            <a href="#">#авіація</a>
            <a href="#">#танки</a>
            <a href="#">#штурмовігвинтівки</a>
        </div>
        <div class="content">
            <div class="first-part">
                <div class="search-box">
                    <input type="text" placeholder="Пошук...">
                    <button>Пошук</button>
                 </div>
            </div>
            <div class="divider"></div>
            <div class="second-part">
                <div class="wrapper-second-part">
                    <div class="card">
                    <!-- Вміст першої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст другої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст третьої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст четвертої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст п'ятої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст шостої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст сьомої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст восьмої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст дев'ятої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст десятої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст одинадцятої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст дванадцятої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст тринадцятої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст чотирнадцятої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст п'ятнадцятої карточки -->
                    </div>
                    <div class="card">
                        <!-- Вміст шістнадцятої карточки -->
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <!-- Футер -->
        </footer>
    </div>
</body>
</html>
