<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shablya</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <div class="spacer">
            <a href="#">#українське</a>
            <a href="#">#війна2022</a>
            <a href="#">#авіація</a>
            <a href="#">#танки</a>
            <a href="#">#штурмовігвинтівки</a>
        </div>
        <div class="content">
            <div class="first-part">
                <div class="search-box">
                    <input type="text" placeholder="Пошук...">
                    <button>Пошук</button>
                 </div>
            </div>
            <div class="divider"></div>
            <div class="second-part">
                <div class="wrapper-second-part">
                    <div class="card">
                        <div class="top-card"><h2>Т-84 БМ "ОПЛОТ"</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/oplot_ukr.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>M113</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/M113.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>СУ-25</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/СУ-25.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Archer</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/Archer.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>БМП-1</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/БМП-1.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Меч</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Prehistory_(-800д)/Меч.jpg' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Спис</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Prehistory_(-800д)/Спис.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Кулемет Максима</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/New_time_(1789-1914)/Кулемет Максима.jpg' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Пірач</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Middle_ages_(476-1492)/Пірнач.jpg' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Шабля</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Middle_ages_(476-1492)/Шабля.jpg' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Leopard 1</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/Leopard 1.jpg' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>БМП-2</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/БМП-2.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>АК-47</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/АК-47.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>T-54</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/T-54.jpg' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>САУ Богдана</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/САУ Богдана.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>СУ-24</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/СУ-24.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Мушкет</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Erly_modern_time_(1492-1789)/Мушкет.jpg' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>САУ Гвоздика</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/САУ Гвоздика.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>A-10 Thunderbolt II</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/A-10 Thunderbolt II.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-card"><h2>Т-64 БМ Булат</h2></div>
                        <div class="middle-card">
                            <img src="{% static 'images/Latest_time_(1914-)/Т-64 БМ Булат.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                        </div>
                        <div class="bottom-card">
                            <div class="icons-container">
                                <div class="icon">
                                    <button class="like-button" onclick="toggleLike(this)">
                                        <img src="{% static 'images/like.png' %}" alt="Логотип" class="like-icon">
                                        <img src="{% static 'images/liked.png' %}" alt="Логотип" class="liked-icon hidden">
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/more.png' %}" alt="Логотип" style="width: 100%; height: 100%;">
                                </div>
                                <div class="icon">
                                    <button class="save-button" onclick="toggleSave(this)">
                                        <img src="{% static 'images/save.png' %}" alt="Логотип" class="save-icon">
                                        <img src="{% static 'images/saved.png' %}" alt="Логотип" class="saved-icon hidden">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
